<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index/home/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.person.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.person.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBook</servlet-name>
    <servlet-class>servlet.book.ViewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBook</servlet-name>
    <url-pattern>/ViewBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.person.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>servlet.orders.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>servlet.orders.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartSaveToFinish</servlet-name>
    <servlet-class>servlet.orders.CartSaveToFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSaveToFinish</servlet-name>
    <url-pattern>/CartSaveToFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>servlet.book.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditInformation</servlet-name>
    <servlet-class>servlet.person.ChangeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInformation</servlet-name>
    <url-pattern>/EditInformation</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Character Encoding Filter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Character Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>